<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>use templates</title>
</head>
<body>
<li>hello world,</li>
<li>{{string}}</li>
<li>{{user}}</li>
<li>{{user.name}}, {{user.age}}, {{user.sex}}</li>
<li>{{user1.name}}, {{user1.age}}, {{user1.sex}}</li>
<li>whoami:{{user1.whoami}}</li>
<li>{{book_list}}</li>
<li>{{book_list.0}}, {{book_list.2}}</li>
</body>
</html>
